# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder
build/
/cmake-build-debug/
/.idea/modules.xml
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/NetworkRequestsHandler.iml
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.m_name
/.idea/libraries/ROS.xml
/.idea/libraries/ROS2.xml
/.idea/NetworkRequestHandler2.iml
/cmake-build-debug-clang/
